<div th:fragment="header">
    <div class="d-flex justify-content-end d-flex flex-row" >
        <nav class="my-2 my-md-0 me-md-3">
            <a sec:authorize="hasRole('ADMIN')" class="p-2 text-dark" href="/add_sensor">Add sensor</a>
            <form class="d-flex" action="/search">
                <input name="searchParam" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a  class="p-2 btn btn-secondary btn-sm" href="/login">Login</a>
        </nav>
    </div>
</div>
