<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleafe.org/thymeleaf-extras-springsecurity5"/>
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="header :: header"></header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Welcome to Monitor sensors</h1>
            </div>
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Type</th>
                    <th scope="col">Range from</th>
                    <th scope="col">Range to</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sensor : ${sensors}">
                    <td th:text="${sensor.name}"></td>
                    <td th:text="${sensor.model}"></td>
                    <td th:text="${sensor.type.typeName}"></td>
                    <td th:text="${sensor.rangeFrom}"></td>
                    <td th:text="${sensor.rangeTo}"></td>
                    <td th:text="${sensor.unit.unitName}"></td>
                    <td th:text="${sensor.description}"></td>
                    <td th:text="${sensor.location}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{sensor-edit/{id}(id=${sensor.id})}">Edit</a>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{sensor-delete/{id}(id=${sensor.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p align="right">
            <div th:if="${sensorPage.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/(size=${sensorPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==sensorPage.number + 1} ? active"></a>
            </div>
            </p>
        </div>
        <p><a sec:authorize="hasRole('ADMIN')" href="/add_sensor">Add sensor</a></p>
    </section>
</main>
</body>
</html>



