<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="header :: header"></header>
    <div class="container" mt-5>
        <h1>Sensors</h1>
        <div th:each="sensor: ${sensors}" class="alert alert-info mt-2">
            <h2 th:text="${sensor.name}"/>
            Model:<p th:text="${sensor.model}"/>
            Type:<p th:text="${sensor.type.typeName}"/>
            Unuit:<p th:text="${sensor.unit.unitName}"/>
            Location:<p th:text="${sensor.location}"/>
            <p th:text="${sensor.description}"/>
        </div>
    </div>
<div th:insert="footer :: footer"></div>
</body>
</html>