<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit sensor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="header :: header"></header>
<div class="container mt-5 mb-10">
    <h1>Edit sensor</h1>
    <form action="#" th:action="@{/sensor-edit/{id}(id=${sensor.id})}" th:object="${sensor}" method="post">
        Name of Sensor <input type="text" id="name" th:field="*{name}" placeholder="Name of sensor" class="form-control"><br>
        Model of Sensor <input type="text" id="model" th:field="*{model}" placeholder="Model" class="form-control"><br>
        <p>
            <label>
                Range from <input id="rangeFrom" th:field="*{rangeFrom}" type="number">
                to <input th:field="*{rangeTo}" id="rangeTo" type="number"><br>
            </label>
        </p>
        <p>
            <label>
                Location <input type="text" th:field="*{location}" id="location" placeholder="Location"
                                class="form-control"><br>
            </label>
        </p>
            Type <select class="form-select" aria-label="Type" th:field="*{type}">
            <option th:each="type : ${types}" th:value="${type.typeId}" th:text="${type.typeName}">type</option>
        </select><br>
        <br>
        <p>
            Unit <select class="form-select" aria-label="Unit" th:field="*{unit}">
                <option th:each="unit : ${units}" th:value="${unit.unitId}" th:text="${unit.unitName}">unit</option>
            </select>
        </p><br>
        <p>
            Description <textarea th:field="*{description}" placeholder="Write description"
                                  class="form-control"></textarea><br>
        </p>
        <button type="submit" class="btn btn-success">Edit</button>
        <br>
    </form>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>