<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Support for navigation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="header :: header"></header>
    <div class="container" mt-5>
        <h1>Sensors</h1>
        <div th:each="el: ${sensors}" class="alert alert-info mt-2">
            <h3 th:text="${el.name}"/>
            <p th:text="${el.model}"/>
            <p th:text="${el.description}"/>
        </div>
    </div>
<div th:insert="footer :: footer"></div>
</body>
</html>